main{
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: rgb(194, 220, 253);
    justify-content: center;
    align-items: center; 
}
.container{
    background-color: aliceblue;
    width: 500px;
    height: 700px;
    border-radius: 30px;
}
.googleLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top:100px;
    height: 100px;
    padding-bottom: 5vh;
}
.designer{
    display: flex;
    justify-content: center;
    height: 50px;
}
.engineer{
    display: flex;
    justify-content: center;
}
.logos{
    display: flex;
    justify-content:center;
}
.button{
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}
button{
    border-radius: 20px;
    background-color: white;
    height:80px;
    width: 300px;
    font-weight:200;
    font-size: small;
    color: rgb(86, 85, 85);
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#googleimage{
    height: 150px;
    width: 150px;
    border-radius: 50px;
}
#fbimage,#twimage,#igimage{
    height: 40px;
    width: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 50px;
    border-radius: 10px;
}
